
 .innerCardControls {
  display: inline;
  background-color: rgb(164, 12, 12);
  position: absolute;
  bottom: 20px;
  left: 50%;

  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 3px;
  opacity: 0;
  transition: all 0.3s ease;
}

  .movieCard:hover .innerCardControls {
    opacity: 1;
  }
  
  .ctrlBtn {
    color: #151212;
    /* background-color: transparent; */
    border: none;
    transition: all 0.3s ease;
    font-size: 1.25rem;
    padding: 5px;
    margin: 0;
  }
  
  .ctrlBtn:hover {
    color: var(--secondary);
    cursor: pointer;
  }
  
  .moviePage .noMovies {
    color: #c4c4c4;
    font-size: 3rem;
    text-align: center;
  }